
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: ""} %>
<% end %>


<% content_for :main do %>
	<div class="col-md-6">
		<h1>My Clients</h1>

		<%= render "clients/index" %>
	</div>

	<div class="col-md-6">
		<h1>Crew Members<h1>
		<h3>PLACE HOLDER INFO<h3>
	</div>
<% end %>
<% content_for :sidebarwide do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'Back', clients_path %></td>
	</table>
<% end %>


