<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "clients"} %>
<% end %>

<% content_for :main do %>
	<% if @Clients.empty? then %>
		<h3>PLACE HOLDER INFO</h3>
	<% else %>
		<%= render "index" %>
	<% end %>
<% end %>
<% content_for :sidebarwide do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'New Client', new_client_path %></td>
	</table>
<% end %>